project:
  type: website

website:
  title: "Test quarto website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: demo-pipeline.qmd
        text: Demo pipeline

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



